/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary: #333333;
  --secondary: #ff5252;
  --light: #f5f5f5;
}

* {
  font-optical-sizing: auto;
  font-style: normal;
}

.exo2 {
  font-family: "Exo 2", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--primary);
  background-color: var(--light);
}

/* html {
  scroll-behavior: smooth;
} */

.scroll-none {
  scrollbar-width: none;
}

.stroke {
  -webkit-text-stroke: 1px var(--secondary);
  -webkit-text-fill-color: transparent;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* limits to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.caru_spin {
  animation: caru_spin 15s infinite linear;
}

a {
  position: static;
}

@keyframes caru_spin {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}
